/*--------------------
Fonts
----------------------*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/*--------------------
Keyfame
----------------------*/ 





/*--------------------
Global css
----------------------*/ 





 :root{
    --color-title-800:#342F3A;
    --color-title-700:#4B4650;
    --color-title-600:#58565a;
    --color-main:#6326F0;
    --color-title-500:#747579;
    --color-title-400:#b3b5b8;
    --color-gray:#F7F8FC;
    
} 


body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    
}
*{
    margin:0;
    padding:0;
    outline: none!important;
}
li {
    list-style: none;
}
section.fullview {
    height: 100%;
    width: 100%;
    padding:50px;
    background: linear-gradient(90deg, #f0e5ee 0%, #fbf1e9 100%);
}
.adminview{
    height:100%;
    width:100%;
    background: #F7F9FE;
    border-radius:20px;
    overflow: hidden;
    position: relative;
}
.navbar.d-flex.flex-column {
    width: 20%;
}
.pageview {
    width: 80%;
    height: 100%;
    display: flex;
    
}
.pageview2,
.pageview3,
.pageview4,
.pageview5,
.pageview6,
.pageview7,
.pageview8{
    position: absolute;
    top:0;
    right:0;
    opacity: 0;
    visibility: hidden;
    background:#f7f9fe;

}
.mainview {
    width: 68%;
    height: 100%;
}
.mainview2__main--skills ul {
    display: flex;
}
.pageon{
    opacity: 1;
    visibility: visible;
}

/*------------------
navbar
------------------*/


.navbar {
    background: #ffffff;
}
.navbar__logo {
    height: 15%;
    width: 100%;
}
.navbar__lists {
    height: 70%;
    width: 100%;
    
}
.navbar__list {
    margin-top: 15px;
}
.navbar__logo{
}
.navbar__logo img {
    width: 80%;
}
.navbar__lists--tool {
    height: 50%;
}
.navbar__lists--title{
    margin: 0 9px;
}
.navbar__lists--title h4 {
    font-size: 16px;
    color:var(--color-title-500)
}
li.navbar-li {
    padding:10px 20px;
    color:var(--color-title-400);
    font-size:18px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 11px;
    cursor: pointer;
    position: relative;
}
li.navbar-li:hover{
    background: var(--color-gray);
}
li.navbar-li.active{
    color:var(--color-main);
}
li.navbar-li a{
    color:var(--color-title-400);
    text-decoration: none;
    font-size:15px;
    font-weight: 500;
    margin-left:15px;
}
a.navbar-a.active{
    color:var(--color-main);
}
.nameadmin {
    margin-bottom:40px;
    height: 7%;
    width: 100%;
    padding: 5px;
    background: var(--color-gray);
    border-radius: 11px;
    cursor: pointer;
}
.nameadmin__img img {
    height: 45px;
}
.nameadmin__infor{
    margin-left: 10px;

}
.nameadmin__infor h3 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}
.nameadmin__infor small{
    font-size: 12px;
    font-weight: 600;
    color:var(--color-title-400)
}
.number__chat{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:5px;
    height:19px;
    width:19px;
    background: #ff672d;
    color:#ffffff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    line-height: 100%;
    border-radius: 5px;
}




/*------------------
Mainview
------------------*/

.mainview {
    padding: 50px;
}

.mainview__hire {
    width: 850px;
}
.mainview__hire--header{
    margin-top: 10px;
}
.mainview__hire--header-title h3 {
    font-size: 22px;
    font-weight: 700;
}
.mainview__hire--header-button {
    font-size: 15px;
    font-weight: 600;
    color:var(--color-main);
    cursor: pointer;
}
.mainview__hire--percents.d-flex.align-items-center.justify-content-between.col-lg-6 {
    background: #ffffff;
    border-radius: 20px;
    padding: 10px 16px;
    margin-left: 20px;
    max-width: 46%;
}
.mainview__hire--percents {
    margin-top: 15px;
}
.mainview__hire--percent-circle {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.mainview__hire--percent-circle svg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
}
.mainview__hire--percent-circle svg circle{
    width:98%;
    height:98%;
    fill:none;
    stroke: #d7dde9;
    stroke-width: 4.5;
    stroke-linecap: round;
    transform: translate(3px,3px);
}
.mainview__hire--percent-circle svg circle:nth-child(2){
    stroke-dasharray: 114;
    stroke-dashoffset: 114;
}
.mainview__hire--percent-circle1 svg circle:nth-child(2){
    stroke:#fe7d50;
    stroke-dashoffset: calc( 114 - ( 114 * 75 ) / 100);
}
.mainview__hire--percent-circle2 svg circle:nth-child(2){
    stroke:#67c3ff;
    stroke-dashoffset: calc( 114 - ( 114 * 50 ) / 100);
}
.mainview__hire--percent-circle3 svg circle:nth-child(2){
    stroke-dashoffset: calc( 114 - ( 114 * 0 ) / 100);
}
.mainview__hire--percent-circle4 svg circle:nth-child(2){
    stroke:#02bfa1;
    stroke-dashoffset: calc( 114 - ( 114 * 65 ) / 100);
}
.mainview__hire--percent-circle_number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-45%,-35%);
}
.mainview__hire--percent-circle_number h2{
    font-size: 10px;
    font-weight: 800;
}
.mainview__hire--percent-circle1 .mainview__hire--percent-circle_number h2{
    color:#fe7d50;
}
.mainview__hire--percent-circle2 .mainview__hire--percent-circle_number h2{
    color: #67c3ff;
}
.mainview__hire--percent-circle3 .mainview__hire--percent-circle_number h2{
    color:#d7dde9;;
}
.mainview__hire--percent-circle4 .mainview__hire--percent-circle_number h2{
    color:#02bfa1;
}









.mainview__hire--percent-number h3 {
    font-size: 28px;
    font-weight: 700;
}
.mainview__hire--percent-tittle {
    width: 60%;
}
.mainview__hire--percent-tittle h4 {
    font-size: 12.5px;
    font-weight: 800;
    margin-bottom: 0;
    color: var(--color-title-600);
}
.mainview__hire--percent-tittle small{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-title-400);
}


.mainview__candidates {
    width: 100%;
}
.mainview__candidates{
    margin-top:40px;
}
.mainview__candidates--header-title h3{
    font-size: 25px;
    font-weight: 700;
}
.mainview__candidates--header-title {
    margin-bottom: 25px;
}
.mainview__candidates--header-search,
.mainview__candidates--header-position,
.mainview__candidates--header-more{
    position: relative;
    height:45px;
    background:#ffffff;
    border-radius: 30px;

}
body .mainview__candidates--header-position,
body .mainview__candidates--header-more{
    max-width: 22%;
    cursor: pointer;
    color:var(--color-title-400)

}
input.form-control {
    border-radius: 30px;
    border:none;
    height:100%
}
body .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: none;
    box-shadow:none;
}
i.fas.fa-search {
    position: absolute;
    margin-left: 20px;
    top:50%;
    left:10px;
    transform:translateY(-50%);
    color:var(--color-title-400)
}
.mainview__candidates--header-position small,
.mainview__candidates--header-more small{
    font-size: 12px;
    font-weight: 600;

}
body .mainview__candidates--header-position:hover,
body .mainview__candidates--header-more:hover{
    color:var(--color-title-500)
}




.mainview__candidates--main{
}
.mainview__candidate.d-flex.flex-column.justify-content-center.align-items-center.col-lg-4{
    background: #ffffff;
    border-radius: 25px;
    margin-top: 30px;
}
body .mainview__candidate{
    padding:20px 0;
    max-width: 30%;
}
.mainview__candidate--hearder{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainview__candidate--hearder-img {
    height: 67px;
    width: 67px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainview__candidate--hearder-img1{
    background: #FFEBD2;
}
.mainview__candidate--hearder-img2{
    background: #c0efe7;
}
.mainview__candidate--hearder-img3{
    background: #d7eefc;
}
.mainview__candidate--hearder-img4{
    background: #d7c9fa;
}
.mainview__candidate--hearder-img5{
    background: #bfd4fd;
}
.mainview__candidate--hearder-img6{
    background: #f9d9c6;
}
.mainview__candidate--hearder-img img {
    height: 90%;
}
.mainview__candidate--hearder-more{
    position: absolute;
    top:0;
    right:25px;
    color: var(--color-title-400);
    cursor: pointer;
}
.mainview__candidate--content{
    margin-top:15px;
}
.mainview__candidate--content h4{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
    color:var(--color-title-700)
}
.mainview__candidate--content small{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-title-400);
}
.mainview__candidate--icon {
    margin:15px 0 5px 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-title-400);
    cursor: pointer;
    font-size: 15px;
}
.mainview__candidates--main i:hover{
    color:var(--color-main);
}
.mainview__candidate--icon .active{
    color:var(--color-main);
}
.mainview__candidates--main {
    margin-bottom: 10px;
}

/*------------------
Timeview
------------------*/


.timeview {
    width: 100%;
    padding: 45px 40px;
    background: #ffffff;
}
.timeview__header h3 {
    font-size: 22px;
    font-weight: 700;
}
.timeview__header--icon{
    height:35px;
    width:35px;
    border-radius:10px;
    background: var(--color-gray);
    color:var(--color-title-500);
    font-size:15px;
}
.timeview__list {
    margin-top: 50px;
}
.timeview__list--details {
    margin-top: 30px;
}
.timeview__list--title{
    color: var(--color-title-400);
    font-size:15px;
}
.timeview__list--title i{
    cursor: pointer;
}
.timeview__list--title i:hover{
    color:var(--color-title-500)

}
.timeview__list--title small{
    font-size: 13px;
    font-weight: 600;
    color: var(--color-title-400);
    line-height: 100%;
}
.timeview__list--detail-time {
    padding: 5px 15px;
}
.timeview__list--detail-time1{
    border-right: 4px solid #ff8e01;
}
.timeview__list--detail{
    margin-top: 30px;
}
.timeview__list--detail-time2{
    border-right: 4px solid #5309f4;
}
.timeview__list--detail-time3{
    border-right: 4px solid #01bea0;
}
.timeview__list--detail-time h3 {
    font-size: 21px;
    font-weight: 700;
    color: var(--color-title-600);
}
.timeview__list--detail-content small{
    font-size: 13px;
    font-weight: 600;
    color: var(--color-title-400);
    
}
.timeview__list--detail-content h5{
    font-size: 12.5px;
    font-weight: 800;
    margin-bottom: 0;
    color: var(--color-title-600);
    margin-top:5px;
}
.timeview__list--detail-content {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}




/*--------------------
Pageview2
---------------------*/




.pageview3{
    background:#f7f9fe;
}
.mainview.maiview2.d-flex.flex-column {
    padding: 30px;
}

.mainview2__main {
    margin-top: 30px;
    background: #ffffff;
    padding:20px 30px;
    border-radius: 40px;
}
.maiview2__main--portfolio {
    width: 35%;
}
.maiview2__main--portfolio + .maiview2__main--portfolio{
    margin-left: 25px;
}
.maiview2__main--portfolio-img {
    padding: 10px;
    background: linear-gradient( 90deg, #f0e5ee 0%, #fbf1e9 100%);
    border-radius: 20px;
}
.maiview2__main--portfolio-img2{
    background: linear-gradient( 
        10deg
        , #f9f9f9 0%, #f8d6bb 100%);
}
.maiview2__main--portfolio-img3{
    background: linear-gradient( 
90deg
, #facaf1 0%, #e9fbf7 100%);
}
.maiview2__main--portfolio-img img {
    width: 100%;
}
.maiview2__main--portfolio-title{
    margin:20px 0 0 10px ;
}
.maiview2__main--portfolio-title p {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--color-title-700);
}

.mainview2__header.d-flex.justify-content-between.align-items-center {
}
.mainview2__header--invite {
    padding: 10px;
    width: 145px;
    text-align: center;
    background: var(--color-main);
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}
.mainview2__header--title h4{
    font-size: 24px;
    font-weight: 700;
}
.mainview2__main--title,
.mainview2__more--title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-title-700);

}
.mainview2__main2 {
    margin-top: 20px;
}
.mainview2__main--skills li {
    padding: 7px 12px;
    text-align: center;
    background: #eef1f6;
    margin-right: 15px;
    border-radius: 11px;
    font-size: 11px;
    font-weight: 500;
    color: #a2a9b6;
    cursor: pointer;
}
.mainview2__main--skills li:hover{
    background: var(--color-title-400);
    color:var(--color-title-500)
}




.mainview2__mores {
    margin-top: 30px;
}
.mainview2__more {
    width: 100%;
    height: 305px;
}

.mainview2__more.col-lg-6.col-md-12 {
    max-width:47%;
    width: 500px;
}
.mainview2__more .container .row {
    height: 100%;
}
.mainview2__more{
    padding:20px;
    background: #ffffff;
    border-radius:20px;
}
.mainview2__more--recommendation-img {
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
}
.mainview2__more--recommendation-img img{
    border-radius:12px;
}
.mainview2__more--recommendation-content h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}
.mainview2__more--recommendation-content small{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-title-400);
}
.mainview2__more--recommendation-content {
    margin-left: 15px;
}
.mainview2__more--recommendation.d-flex.justify-content-between {
    margin-top: 10px;
}
.mainview2__more--icon{
    text-align: center;
    margin-top: 20px;
    width: 71%;
}
.mainview2__more.mainview2__more--recommendations.col-lg-6.col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.mainview2__more--document-header {
    width: 45px;
    height: 45px;
    background: #ffe8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #ff692f;
    border-radius: 12px;
}
.mainview2__more--document.d-flex.justify-content-around.align-items-center {
    margin-top: 25px;
}
.mainview2__more--document-content{
    text-align: left;
    width:70%;
}
.mainview2__more--document-content h4{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}
.mainview2__more--document-content small{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-title-400);
}
.mainview2__more--document-content {
    text-align: inherit;
    width: 57%;
    padding-left: 5px;;
}
.mainview2__more--document-icon {
    margin-right: 15px;
    color: var(--color-title-400);
    cursor: pointer;
    font-size: 18px;
}
.mainview2__more--document-icon:hover{
    color:var(--color-title-500)
}


/*------------------
timeview2
----------------*/
.timeview2 {
    padding: 0;
    background: transparent;
    width: 32%;
}

.timeview2__contact,
.timeview2__experiences {
    margin-top: 31px;
    margin-right: 30px;
    padding: 25px;
    background: #ffffff;
    border-radius: 25px;
}
.timeview__contact--header-img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.timeview__contact--header-title {
    width: 68%;
}
.timeview__contact--header-title h4{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
}
.timeview__contact--header-title small{
    font-size: 13px;
    font-weight: 600;
    color: var(--color-title-400);
}
.timeview__contact--content{
    margin-top:20px;
}
.timeview__contact--content p{
    font-size: 12px;
    font-weight: 600;
    color: var(--color-title-400);
}
.timeview__contact--links.d-flex.justify-content-around.align-items-center {
    margin-top: 25px;
}
.timeview__contact--link {
    width: 40px;
    height: 40px;
    background: #ffe8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #ff692f;
    cursor: pointer;
}
.timeview__contact--link:hover{
    background: #f3cec1;

}

.timeview2__experiences small{
    font-weight: 600;
}
.timeview2__experiences--header h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-title-700);
}
.timeview2__experience--header.d-flex.align-items-center h4{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-title-600);
    margin-bottom:0;
    padding-left: 5px;
}
.timeview2__experience--info.d-flex.justify-content-between.align-items-center{
    font-size: 16px;
    color: var(--color-title-400);
    margin-top:5px;
    padding-right: 5px;
}
.timeview2__experience--content{
    margin-top:15px;
}
.timeview2__experience--content h4{
    font-size: 15px;
    font-weight: 700;
    color: var(--color-title-500);
}
.timeview2__experience--content small{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-title-400);
    margin-top:5px;
}
.timeview2__experiences--list{
    margin-top: 15px;
}